<%- include('partials/header'); %>
<%- include('partials/nav')%>
    <h1>This is an EJS File</h1>
    <h2>Random Number: <%= randomNumber=rn;%></h2>
    <% if(randomNumber%2===0){
        %> <h2><%=rn%> is even Number.</h2>
    <%} else {%>
    <h2> <%=rn%> is odd number.</h2>
    <%}%>

    <%- include('partials/footer') %>